---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import Testimonials from "../components/Testimonials.astro";
import { getHomepageContent } from "../lib/getHomepageContent.js";
import { splitParagraphs } from "../utils/splitParagraphs.js";
import { processImageAsset, getImageUrl } from "../utils/imageHelper.js";
import { getAllBlogPosts } from "../lib/getAllBlogPosts";
import BlogThumb from "../components/BlogThumb.astro";


const allPosts = await getAllBlogPosts();
const latestPosts = allPosts.slice(0, 3);

const homepage = await getHomepageContent(true);

const intro =
  homepage && typeof homepage.introBody == "string"
    ? splitParagraphs(homepage.introBody)
    : [];
const trainingenText =
  homepage && typeof homepage.trainingenBodyText == "string"
    ? splitParagraphs(homepage.trainingenBodyText)
    : [];

const acterenBodyText =
  homepage && typeof homepage.acterenBodyText == "string"
    ? splitParagraphs(homepage.acterenBodyText)
    : [];

const TrainingenImage = homepage?.trainingenImage
  ? processImageAsset(homepage.trainingenImage)
  : null;

const ActerenImage = homepage?.acterenImage
  ? processImageAsset(homepage.acterenImage)
  : null;

// console.log("Latest posts:", latestPosts);

console.log("trainingen images: ",homepage?.trainingenImage);

---

<BaseLayout title="Home" description="Homepage Wail Alami">
  <section class="hero-section">
    <div class="wrapper hero">
      <div class="hero-grid">
        <div class="hero-img-wrapper">
          <img class="hero-img" src="/images/wail_main-home-hero.jpg" alt="" />
        </div>
        <div class="hero-side">
          {
            homepage ? (
              <h1 class="display-txt">{homepage.headerText}</h1>
            ) : (
              <p>content not found</p>
            )
          }
        </div>
      </div>
    </div>
  </section>
  <section class="home-intro">
    <div class="wrapper">
      {
        homepage ? (
          <h2>{homepage.introHeader}</h2>
        ) : (
          <p class="no-content">content not found</p>
        )
      }
      <div class="home-intro-text">
        {
          intro.length > 0 ? (
            intro.map((p) => <p>{p}</p>)
          ) : (
            <p>Content not found </p>
          )
        }
      </div>
      <div class="link-wrapper">
        <a href="https://www.crkbo.nl/" class="crkbo-link" target="_blank">
          <div class="img-wrapper">
            <img src="/images/CRKBO.svg" alt="CRKBO link" />
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="home-werk">
    <div class="wrapper">
      <div class="home-trainingen">
        <div class="home-content-block">
          {
            homepage ? (
              <p class="tiny-txt">{homepage.labelTrainingen}</p>
            ) : (
              <p class="no-content">content not found</p>
            )
          }
          {
            homepage ? (
              <h2>{homepage.titleTrainingen}</h2>
            ) : (
              <p class="no-content">content not found</p>
            )
          }
          <p class="margin-bottom-normal">
            {
              trainingenText.length > 0 ? (
                trainingenText.map((p) => <p class="p-margin-bottom">{p}</p>)
              ) : (
                <p>Content not found </p>
              )
            }
          </p>
          <div class="btn-wrapper">
            <a href="/trainingen" class="normal-button">Trainingen</a>
          </div>
        </div>
        <div class="img-wrapper">
          <!-- Trainingen Image -->
          {
            TrainingenImage && (
              <img
                src={TrainingenImage.url}
                alt={TrainingenImage.alt}
                class="home-img"
              />
            )
          }
        </div>
      </div>

      <div class="home-acteren">
        <div class="img-wrapper">
          {
            ActerenImage && (
              <img
                src={ActerenImage.url}
                alt={ActerenImage.alt}
                class="home-img"
              />
            )
          }
        </div>
        <div class="home-content-block">
          {
            homepage ? (
              <p class="tiny-txt">{homepage.labelActeren}</p>
            ) : (
              <p class="no-content">content not found</p>
            )
          }
          {
            homepage ? (
              <h2>{homepage.titelActeren}</h2>
            ) : (
              <p class="no-content">content not found</p>
            )
          }
          <p class="margin-bottom-normal">
            {
              acterenBodyText.length > 0 ? (
                acterenBodyText.map((p) => <p class="p-margin-bottom">{p}</p>)
              ) : (
                <p>Content not found </p>
              )
            }
          </p>
          <div class="btn-wrapper">
            <a href="/acteren" class="normal-button">Trainingsacteur</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="logo-carousel">
    <div class="carousel-header">
      <h2>Samen gewerkt met</h2>
    </div>
    <div class="carousel-track">
      <div class="carousel-slide">
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo_fiod_nl.png"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Logo_ministerie_van_defensie_vector.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Logo_politie.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo_sanquin_black.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo-gemeente.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Logo-handhaving-nederland.png"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo-rotterdam.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo-uwv.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Ministerie_van_Buitenlandse_Zaken_Logo.jpeg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Roc-logo.png"
          alt=""
        />
      </div>

      <div class="carousel-slide">
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo_fiod_nl.png"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Logo_ministerie_van_defensie_vector.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Logo_politie.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo_sanquin_black.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo-gemeente.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Logo-handhaving-nederland.png"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo-rotterdam.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo-uwv.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Ministerie_van_Buitenlandse_Zaken_Logo.jpeg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Roc-logo.png"
          alt=""
        />
      </div>
    </div>
  </section>
  <Testimonials />
  <section class="section-blog">
    <div class="wrapper">
      <div class="home-blog-container">
        <div class="blog-header">
          <p class="tiny-txt">Blog</p>
          <h2>Blogs</h2>
          <p>
            Welkom in mijn blogsectie! Hier deel ik artikelen over mijn
            interesses en expertise. Ontdek praktische tips, verdiep je in
            wetenschap, psychologie en zelfontwikkeling, en laat je inspireren
            door meer onderwerpen. Meld je aan voor de nieuwsbrief en blijf
            altijd op de hoogte van nieuwe artikelen
          </p>
        </div>
        <div class="blog-thumbs-wrapper">
          {
            latestPosts &&
              latestPosts.map((post) => {
                return (
                  // @ts-ignore: ContentFul type is too generic; we know post has fields
                  <BlogThumb
                    mainImage={
                      post.fields.mainImage?.fields?.file?.url ??
                      "/images/blog/blog-default.svg"
                    }
                    categoryTxt={post.fields.category ?? "Onbekend"}
                    title={post.fields.title ?? "Geen titel"}
                    bodyTxt={post.fields.introText ?? "Geen tekst"}
                    thumbLink={`/blog/${post.fields.slug ?? "#"}`}
                    alt={post.fields.mainImage?.fields?.description ?? "Blog afbeelding"}
                  />
                );
              })
          }
          <!-- <div class="blog-thumb-container">
            <a href="" class="blog-thumb">
              <div class="thumb-img-wrapper">
                <img
                  src="/images/blog/thumb-laptop.jpg"
                  alt=""
                  class="thumb-img"
                />
              </div>
              <div class="tiny-txt-wrapper">
                <p class="tiny-txt">Gezondheid</p>
              </div>
              <div class="thumb-title-wrapper">
                <h3>
                  Pornografie, de duistere waarheid: wat doet het met je brein?
                </h3>
              </div>
              <div class="thumb-excerpt">
                <p>Wat doet het bekijken van pornografie met je brein?</p>
              </div>
            </a>
          </div>
          <div class="blog-thumb-container">
            <a href="" class="blog-thumb">
              <div class="thumb-img-wrapper">
                <img
                  src="/images/blog/thumb-hand.jpg"
                  alt=""
                  class="thumb-img"
                />
              </div>
              <div class="tiny-txt-wrapper">
                <p class="tiny-txt">Gezondheid</p>
              </div>
              <div class="thumb-title-wrapper">
                <h3>Pornografie, de duistere waarheid: De duistere waarheid</h3>
              </div>
              <div class="thumb-excerpt">
                <p>
                  De gevaren van pornografie voor onze maatschappij en jeugd
                </p>
              </div>
            </a>
          </div>
          <div class="blog-thumb-container">
            <a href="" class="blog-thumb">
              <div class="thumb-img-wrapper">
                <img
                  src="/images/blog/thumb-wail.jpg"
                  alt=""
                  class="thumb-img"
                />
              </div>
              <div class="tiny-txt-wrapper">
                <p class="tiny-txt">Gezondheid</p>
              </div>
              <div class="thumb-title-wrapper">
                <h3>'Als het leven je citroenen geeft'</h3>
              </div>
              <div class="thumb-excerpt">
                <p>
                  Na een driejarige strijd tegen kanker deel ik mijn
                  persoonlijke reis van pijn, verlies en veerkracht. Ontdek hoe
                  ik positief bleef denken en handelen, leer mijn geheimen voor
                  een fitter, vitaler leven en laat je inspireren.
                </p>
              </div>
            </a>
          </div> -->
        </div>
        <div class="home-blog-btn-wrapper">
          <div class="home-btn-wrapper">
            <a href="/blog" class="normal-button">Zie Meer</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  .text-base {
    margin-bottom: 2rem;
  }

  .link-wrapper .img-wrapper {
    width: 7.5rem;
    height: 7.5rem;
  }

  .home-intro-text p {
    margin-bottom: 1.5rem;
  }

  /* --------- Blog section ------------- */

  .section-blog {
    padding: 3rem 0;
  }

  .home-blog-container {
  }

  .blog-header {
    margin-bottom: 2rem;
  }

  .blog-thumbs-wrapper {
    display: grid;
    column-gap: 2rem;
    row-gap: 3.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: stretch;
    margin-bottom: 2.5rem;
  }

  .blog-thumb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .thumb-img-wrapper {
    margin-bottom: 1.5rem;
  }

  .thumb-img {
    object-fit: cover;
    border-radius: 12px;
    max-width: 100%;
    width: 403px;
    height: 14rem;
    vertical-align: middle;
    display: inline-block;
  }

  .thumb-title-wrapper {
    margin-bottom: 1rem;
  }

  .home-blog-btn-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .hero-section {
    color: white;
    background-color: var(--color-bg-dark);
  }

  .hero-grid {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: row;
    grid-template-rows: auto;
    grid-template-columns: 0.5fr 0.5fr;
    grid-auto-columns: 1fr;
    align-items: stretch;
  }

  .hero-img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
  }

  .hero {
    padding-bottom: 0;
  }

  .hero-side {
    display: flex;
    justify-content: flex-start;
    padding-top: 30%;
  }

  .display-txt {
    font-size: 5.5rem;
  }

  .home-intro {
    padding-top: 6rem;
    background-color: var(--color-bg-light);
    margin-bottom: 6rem;
  }

  .home-intro-text {
    max-width: 50rem;
    padding-bottom: 2rem;
  }

  .crkbo-link {
    max-width: 100%;
    display: inline-block;
  }

  .home-intro {
    padding-top: 6rem;
    background-color: var(--color-bg-light);
    margin-bottom: 6rem;
  }

  .home-intro-text {
    max-width: 50rem;
    padding-bottom: 2rem;
  }
  .home-trainingen {
    grid-column-gap: 4rem;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    margin-bottom: 6rem;
  }

  .home-content-blok p {
    margin-bottom: 2.5rem;
  }

  .home-trainingen .img-wrapper {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: auto;
    max-height: 479px;
  }

  .home-img {
    max-width: 479px;
  }

  .home-acteren {
    grid-column-gap: 4rem;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  /* --------- Carousel ----------- */

  .carousel-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
  }

  .logo-carousel {
    overflow: hidden;
    padding: 4rem 0;
  }

  .carousel-track {
    display: flex;
    width: max-content;
    animation: scroll-left 30s linear infinite;
  }

  .carousel-slide {
    display: flex;
    gap: 4rem;
    margin-left: 4rem;
  }

  .carousel-img {
    border-radius: 0;
    height: 80px;
    object-fit: contain;
  }

  /* animation */
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  /* ---- responsive ---- */
  @media (max-width: 768px) {
    .hero-section{
      height: 100vh;
      overflow: hidden;
    }

    .img-wrapper{
      height: 100%;
    }
    .home-trainingen {
      grid-template-columns: 1fr;
    }

    .home-trainingen .img-wrapper {
      display: block;
      width: 100%;
      height: 100vh;
    }

    .img-wrapper img {
      width: 100%;
      height:100%;
      /* max-width: 100%; */
      object-fit:contain;
      object-position: top;
    }

    .home-acteren {
      grid-template-columns: 1fr;
    }

    .home-acteren .img-wrapper {
      order: 2;
    }

    .home-content-blok {
      order: 1;
    }

    .blog-thumbs-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 460px) {
    .hero-side {
      display: none;
    }

    .hero-grid {
      grid-template-columns: 1fr;
    }

    .blog-thumbs-wrapper {
      grid-template-columns: 1fr;
    }
  }
  
</style>
