---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Testimonials from "../components/Testimonials.astro";
import { getSingleEntry } from "../lib/getContentfulEntry";
import { processImageAsset, getImageUrl } from "../utils/imageHelper.js";
import { renderRichText } from "../utils/renderRichText";

const trainingen = await getSingleEntry("trainingen");
const heroImage = trainingen?.heroImage
  ? processImageAsset(trainingen.heroImage)
  : null;

const trainingImage01 = trainingen?.trainingImage01
  ? processImageAsset(trainingen.trainingImage01)
  : null;
const trainingImage02 = trainingen?.trainingImage02
  ? processImageAsset(trainingen.trainingImage02)
  : null;
const trainingImage03 = trainingen?.trainingImage03
  ? processImageAsset(trainingen.trainingImage03)
  : null;

const rawRichText = trainingen?.bodyText;
const richTextHtml = rawRichText ? renderRichText(rawRichText) : "";

console.log(trainingen);
console.log(richTextHtml);
---

<BaseLayout title="trainingen" description="trainingen">
  <Hero
    backgroundImage={heroImage?.url}
    title={trainingen ? trainingen.headerText : "content not found"}
  />
  <section>
    <div class="wrapper">
      <div class="intro-grid">
        <div class="intro-indict">
          <p class="tiny-txt">
            {trainingen ? trainingen.labelText :"content not found"}
          </p>
        </div>
        <div class="intro-content-wrapper">
          <h2 class="heading-style-h2">
            {trainingen ? trainingen.subHeaderText : "content not found"}
          </h2>
          <div class="multi-column-text" set:html={richTextHtml} />
        </div>
      </div>
    </div>
  </section>
  <section class="promo">
    <div class="promo-content-wrapper">
      <p class="tiny-txt">Trainingen</p>
      <h2>{trainingen ? trainingen.promoHeaderText : "content not found"}</h2>
      <p>
        {trainingen ? trainingen.promoBodyText : "content not found"}
      </p>
      <a href="/contact" class="normal-button">Contact</a>
    </div>
  </section>
  <section>
    <div class="wrapper">
      <div class="training-gallery-wrapper">
        <div class="gallery-item grid-item-1">
          {
            trainingImage01 && (
              <img
                class="gallery-img top-focus"
                src={trainingImage01.url}
                alt=""
              />
            )
          }
        </div>
        <div class="gallery-item grid-item-2">
          {
            trainingImage02 &&(
              <img
                class="gallery-img center-focus"
                src={trainingImage02.url}
                alt=""
              />
            )
          }
        </div>
        <div class="gallery-item grid-item-3">
          {
          trainingImage03 &&(<img
            class="gallery-img top-focus"
            src={trainingImage03.url}
            alt=""
          />)}
        </div>
      </div>
    </div>
    <Testimonials />
  </section>
</BaseLayout>

<style>
  .intro-grid {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 0.6fr 1fr;
    grid-auto-columns: 1fr;
    padding: 3rem 0;
  }

  .promo {
    background-color: var(--color-bg-dark-brown);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
  }
  .promo-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    gap: 1.5rem;
    text-align: center;
  }

  .training-gallery-wrapper {
    display: grid;
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding: 3.5rem 0;
  }

  .gallery-item {
    display: flex;
    flex-direction: column;
  }

  .grid-item-1 {
    grid-area: 1 / 1/ 3/ 2;
    justify-self: auto;
  }

  .grid-item-2 {
    grid-area: 1 / 2/ 2/ 3;
    justify-self: auto;
  }

  .grid-item-3 {
    grid-area: 2 / 2/ 3/ 3;
    justify-self: auto;
  }

  .gallery-img {
    object-fit: cover;
    border-radius: 12px;
    height: 100%;
    display: block;
    vertical-align: middle;
    max-width: 100%;
  }

  @media (max-width: 768px) {
    .intro-grid {
      grid-template-columns: 1fr;
    }

    .training-gallery-wrapper {
      grid-template-columns: 1fr;
      grid-template-areas: none;
      grid-auto-flow: row;
    }
    .grid-item-1,
    .grid-item-2,
    .grid-item-3 {
      grid-area: auto;
    }

    .gallery-img {
      height: 100%; /* Pas dit aan naar wens */
      max-height: 240px;
      object-fit: cover;
      /* object-position: top; */
      display: block;
    }

    .top-focus {
      object-position: top;
    }

    .center-focus {
      object-position: center;
    }
  }
</style>
