---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import CTA from "../components/CTA.astro";
const {
  title = "Wail Alami", // fallback titel
  description = "Welkom op mijn website.", // fallback description
  ogImage, // optioneel, bv. absolute URL naar afbeelding
  ogUrl = Astro.url.href, // huidige URL
} = Astro.props;
const { url } = Astro;
const currentPath = url.pathname;
---

<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.svg" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={ogUrl} />
    {ogImage && <meta property="og:image" content={ogImage} />}

    <!-- Twitter Cards -->
    <meta name="twitter:card" content={ogImage ? "summary_large_image" : "summary"} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    {ogImage && <meta name="twitter:image" content={ogImage} />}
  </head>
  <body>
    <main>
      <Navbar />
      <slot />

      {currentPath !== '/contact' && <CTA />}
      <Footer />
    </main>
  </body>
</html>
